<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-skitourenrouten" >
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_mountain.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_mountain.height" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_mountain.latitude" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_mountain.longitude" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>