<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Map</h1>

		<f:flashMessages />

		<table  class="tx_skitourenrouten" >
			<tr>
				<th><f:translate key="tx_skitourenrouten_domain_model_map.name" /></th>
				<th><f:translate key="tx_skitourenrouten_domain_model_map.description" /></th>
				<th><f:translate key="tx_skitourenrouten_domain_model_map.bild" /></th>
				<th><f:translate key="tx_skitourenrouten_domain_model_map.ean" /></th>
				<th><f:translate key="tx_skitourenrouten_domain_model_map.kartenreihe" /></th>
				<th><f:translate key="tx_skitourenrouten_domain_model_map.kartennummer" /></th>
				<th><f:translate key="tx_skitourenrouten_domain_model_map.typ" /></th>
				<th><f:translate key="tx_skitourenrouten_domain_model_map.massstab" /></th>
				<th><f:translate key="tx_skitourenrouten_domain_model_map.preis" /></th>
				<th><f:translate key="tx_skitourenrouten_domain_model_map.verlag" /></th>
				<th><f:translate key="tx_skitourenrouten_domain_model_map.link" /></th>
				<th><f:translate key="tx_skitourenrouten_domain_model_map.bildurl" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{maps}" as="map">
				<tr>
					<td><f:link.action action="show" arguments="{map : map}"> {map.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{map : map}"> {map.description}</f:link.action></td>
					<td><f:link.action action="show" arguments="{map : map}"> {map.bild.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{map : map}"> {map.ean}</f:link.action></td>
					<td><f:link.action action="show" arguments="{map : map}"> {map.kartenreihe}</f:link.action></td>
					<td><f:link.action action="show" arguments="{map : map}"> {map.kartennummer}</f:link.action></td>
					<td><f:link.action action="show" arguments="{map : map}"> {map.typ}</f:link.action></td>
					<td><f:link.action action="show" arguments="{map : map}"> {map.massstab}</f:link.action></td>
					<td><f:link.action action="show" arguments="{map : map}"> {map.preis}</f:link.action></td>
					<td><f:link.action action="show" arguments="{map : map}"> {map.verlag}</f:link.action></td>
					<td><f:link.action action="show" arguments="{map : map}"> {map.link}</f:link.action></td>
					<td><f:link.action action="show" arguments="{map : map}"> {map.bildurl}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{map : map}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{map : map}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Map</f:link.action>
	</f:section>
</html>