<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />


	<f:section name="content">

		<table  class="tx_skitourenrouten" >
			<tr>
				<th><f:translate key="tx_skitourenrouten_domain_model_route.mountains" /></th>
				<th><f:translate key="tx_skitourenrouten_domain_model_route.routenname" /></th>
			</tr>

			<f:for each="{routes}" as="route">
				<tr>
					<td>
						<f:if condition="{route.mountains}">
                          <f:format.html>{route.mountainregions.0.name} - {route.mountains.0.name}	({route.mountains.0.height} m)</f:format.html>
                	    </f:if>
					</td>
					<td><f:link.action action="show" pageUid="2392" arguments="{route : route}">{route.routenname}<span class="stern_ski  stern{route.schoenheit}_ski"> </span></f:link.action></td>
										</tr>
			</f:for>
		</table>

</f:section>

</html>
