<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-skitourenrouten" >
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.routenname" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.kurzcharakteristik" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.anfahrt" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.ausgangspunkt" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.routenverlauf" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.abfahrt" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.varianten" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.lawinengefahr" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.gesamtanspruch" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.skitechnischebewertung" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.hoehenmeter" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.gehzeit" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.schoenheit" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.beliebtheit" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.hangexposition" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.hinweise" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.infoquelle" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.track" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.uebersichtsbilder" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skitourenrouten_domain_model_route.aktionbilder" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>